.text-danger {
    color: #dc5345;
}

.bg-danger {
    background-color: #dc5345;
}

.border-danger {
    border-color: #dc5345;
}

.text-warning {
    color: #ffc107;
}

.bg-warning {
    background-color: #ffc107;
}

.border-warning {
    border-color: #ffc107;
}

.custom-button {
    height: 2rem;
    width: 2rem;
}

.url-cell {
    text-decoration: none;
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.url-cell:hover {
    text-decoration: underline;
}