.p-tabview-panels {
    padding: 0;
}

.p-menuitem-text {
    white-space: nowrap;
}

.p-card-body {
    padding: 10px;
}

.p-card-content {
    padding: 0;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    height: 48px;
    border-radius: 0px;
}